@mixin handelAnmy2Step($keyframeN, $propSN, $propSV, $propEN, $propEV) {
    @keyframes #{$keyframeN} {
        0%{ opacity: 0; #{$propSN}: $propSV}
        100%{ opacity: 100; #{$propEN}: $propEV}
    }
}

@include handelAnmy2Step(navAnmy, top, 120%, top, 100%);
@include handelAnmy2Step(navAnmy2, top, 100%, top, 120%);

@include handelAnmy2Step(smallNav1, left, -110%, left, 0%);
@include handelAnmy2Step(smallNav2, left, 0%, left, -110%);

@keyframes fadeAnmy{ 0%{ opacity: 0; }   100%{ opacity: 1; } }

@include handelAnmy2Step(scHdsAnmy, transform, translateY(-12vh), transform, translateY(0vh));

@include handelAnmy2Step(campsImgAnmy, transform, translateY(-100%), transform, translateY(0%));
@include handelAnmy2Step(campsLnkAnmy, transform, translateY(+50%), transform, translateY(0%));

@include handelAnmy2Step(srvsItmsAnmy, transform, translateY(-5rem), transform, translateY(0rem));

@include handelAnmy2Step(newsLnkAnmy, transform, translateY(+4rem), transform, translateY(0rem));

@include handelAnmy2Step(evnsDivAnmy, transform, scale(0), transform, scale(1));
@include handelAnmy2Step(evnsPAnmy, transform, translateX(-60%), transform, translateX(0%));

@include handelAnmy2Step(deanImgAnmyLg, transform, translateX(+6rem), transform, translateX(0rem));
@include handelAnmy2Step(deanImgAnmySm, transform, translateY(-100%), transform, translateY(0%));

@include handelAnmy2Step(popupAnmy, transform, scale(0), transform, scale(1));

@include handelAnmy2Step(chatHours1, margin-top, -5vh, margin-top, 0vh);
@include handelAnmy2Step(chatHours2, margin-top, 0vh, margin-top, -5vh);