@keyframes headerAnmy1{
    0%{ opacity: 0;  margin-left: -20vw; }
    100%{ opacity: 1;  margin-left: 0vw; }
}

@keyframes headerAnmy2{
    0%{ opacity: 0;  margin-top: -1.75rem; }
    50%{ opacity: 0.3;  margin-top: -0.75rem; }
    100%{ opacity: 1;  margin-top: 0rem; }
}

@keyframes navAnmy{
    0%{ opacity: 0;  top: 120%; }
    100%{ opacity: 1;  top: 100%; }
}

@keyframes navAnmy2{    
    0%{ opacity: 1;  top: 100%; }
    100%{ opacity: 0;  top: 120%; }
}

@keyframes chatHours1{
    0%{ opacity: 0;  margin-top: -5vh; }
    100%{ opacity: 1;  margin-top: 0vh; }
}

@keyframes chatHours2{    
    0%{ opacity: 1;  margin-top: 0vh; }
    100%{ opacity: 0;  margin-top: -5vh; }
}

@keyframes smallNav1{
    0%{ opacity: 0;  left: -110%; }
    100%{ opacity: 1;  left: 0%; }
}

@keyframes smallNav2{
    0%{ opacity: 1;  left: 0%; }
    100%{ opacity: 0;  left: -110%; }    
}

@keyframes fadeAnmy{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes scHdsAnmy{
    0%{ opacity: 0; transform: translateY(-12vh); }
    100%{ opacity: 1; transform: translateY(0vh); }
}

@keyframes campsImgAnmy{
    0%{ opacity: 0; transform: translateY(-100%); }
    100%{ opacity: 1; transform: translateY(0%); }
}
@keyframes campsLnkAnmy{
    0%{ opacity: 0; transform: translateY(+50%); }
    100%{ opacity: 1; transform: translateY(0%); }
}

@keyframes srvsItmsAnmy{
    0%{ opacity: 0; transform: translateY(-5rem); }
    100%{ opacity: 1; transform: translateY(0rem); }
}

@keyframes newsLnkAnmy{
    0%{ opacity: 0; transform: translateY(+4rem); }
    100%{ opacity: 1; transform: translateY(0rem); }
}

@keyframes evnsDivAnmy{
    0%{ opacity: 0; transform: scale(0); }
    100%{ opacity: 1; transform: scale(1); }
}
@keyframes evnsPAnmy{
    0%{ opacity: 0; transform: translateX(-60%); }
    100%{ opacity: 1; transform: translateX(0%); }
}


@keyframes popupAnmy{
    0%{ opacity: 0; transform: scale(0); }
    100%{ opacity: 1; transform: scale(1); }
}

@keyframes deanImgAnmyLg{
    0%{ opacity: 0; transform: translateX(+6rem); }
    100%{ opacity: 1; transform: translateX(0rem); }
}
@keyframes deanImgAnmySm{
    0%{ opacity: 0; transform: translateY(-100%); }
    100%{ opacity: 1; transform: translateY(0%); }
}