$dark1 : #16013E;
$dark2 : #606060;
$back1 : #F6F2FD;
$color1 : #FF7F56;
footer{
    .footer__grid{
        width: 100%;
        padding: 3vw 5vw;
        display: grid;
        grid-template-columns: 25% 1fr 1fr;
        grid-template-areas: "imgcol lnks1col lnks2col" "imgcol soctcol soctcol";
        background-color: $back1;
        column-gap: 8vw;
        border-bottom: 0.1rem solid $color1;
        .footer__grid__col{
            h5{  
                letter-spacing: 0.15rem;
                font-weight: 600;
                color: $color1;                
            }
            a{ font-size: calc(0.8rem + 0.3vw); font-weight: 500; }
            &:nth-of-type(1){
                grid-area: imgcol;
                .footer__grid__col__img-wrapper{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    row-gap: 2vw;
                    img{
                        width: 70%;
                        padding: 2px;
                        object-fit: fill;
                        border-radius: 0.35rem 0.35rem 0.75rem 0.35rem;
                    }
                }
                a{
                    background-color: $dark1;
                    color: $back1;
                    text-decoration: none;   border-radius: 0.5rem;   border: none;                    
                    display: block;
                    width: 85%;
                    margin-top: 1vw;                    
                    text-align: center;
                    padding-block: 1.5vh;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
            &:nth-of-type(2){ grid-area: lnks1col; } 
            &:nth-of-type(3){ grid-area: lnks2col; }
            &:nth-of-type(2), &:nth-of-type(3){
                a{
                    color: $dark1;
                    text-decoration: none;    
                    display: block;
                    width: fit-content;
                    margin-left: 1.5rem;
                    margin-bottom: 1vh;
                    &:hover{ color: $dark2; }
                }
            }
            &:nth-of-type(4){
                grid-area: soctcol;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 0.5rem;
                .footer__grid__col-last{
                    a,p{ font-size: calc(0.85rem + 0.35vw)!important;
                    color: $dark1;}
                    a{
                        margin-right: 1rem;     text-decoration: none;  
                        svg{ color: inherit; } 
                        &:hover{ color: $dark2; }                     
                    }
                    p{
                        font-weight: 500;   
                        margin: 0;                      
                    }
                }
            }

        }
    }
    .footer__copyright{
        width: 100%;
        padding: 2vw 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $back1;
        font-weight: 700;
        p{ color: $dark1; margin: 0;}
    }
}